.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.container {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  border-radius: 1rem;
  box-shadow: 0 0 10rem 2rem rgba(0, 0, 0, 0.1);
  width: 50vw;
  padding: 2rem 3rem;
  color: #000;
  background-color: #fff;
  line-height: 3rem;
  transition: 0.5s all;
}

.container .label {
  font-size: 1.5rem;
}
