.wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.container {
  margin: auto;
  border-radius: 2rem;
  box-shadow: 0 0 10rem 2rem rgba(0, 0, 0, 0.1);
  min-height: 200px;
  min-width: 300px;
  padding: 2rem 4rem;
  color: black;
}

.label {
  font-size: 1.5rem;
}
